{% extends 'JAGUARETE/Layout.html' %}

{% block body %}

{% load static %}
<aside class="section_item flex-container color-2">
<h3>ACERCA DE NOSOTROS..</h3>



     <p id="Abus">

    Jaguareté fue fundada por un equipo de apasionados estilistas y artistas creativos de la industria de la moda, 
    junto con un equipo de enérgicos y dinámicos artistas de deseño y Arte desde 2006. 
    Desde Europa hasta Asia, aportamos ideas frescas y creatividad  a la hora de crear nuestros productos.

Todos nuestros compañeros de equipo son profesionales que trabajaron más de 5-10 años en la industria de la moda; la sangre voló con el este 
se encuentran con el oeste exquisito sabor de las experiencias de estilo, mirando y clavando las direcciones correctas, inyectando nuevo flujo, 
nuevas ideas a cada proyecto.

Determinamos crear nada más que carteras unicas, hermosas y fabulosas.

     </p>

            <br>

        </aside>
        
{% endblock %}
