{% extends 'JAGUARETE/Layout.html' %}

{% block body %}

{% load static %}


<div id="cajaLogin">


            <h2>

            Acceder a la web

            </h2>

            

            <form action="" target="_blank" method="get"  >

                <label for="username">

                    Username: 

                </label>

                <input type="text" name="username"  placeholder="Ingrese Username" size="59" >

                <br>

                <br>

                <label for="password">

                    Password: 

                </label>

                <input type="text" name="password" placeholder="Ingrese su Password..." size="58">

                <br>

                <br>

                <input type="submit" value="Login">

                <input type="submit" value="Registrarse">

            </form>



        </div>

        
{% endblock %}