#menu ul li {
    background-color: #11335a;
}

#menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

#menu ul a {
    display: block;
    color: #fff;
    text-decoration: none;
    font-weight: 400;
    font-size: 15px;
    padding: 10px;
    font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Optima, Optima;
    text-transform: uppercase;
    letter-spacing: 1px;
}

#menu ul li {
    position: relative;
    float: left;
    margin: 0;
    padding: 0;
}

#menu ul li:hover {
    background: #5b78a7;
}

#menu ul ul {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    padding: 0;
}

#menu ul ul li {
    float: none;
    width: 150px
}

#menu ul ul a {
    line-height: 120%;
    padding: 10px 15px;
}

#menu ul li:hover>ul {
    display: block;
}

#textarea {
    background-color: #97a2e2;
    width: 190px;
    height: 190px;
    overflow: auto;
    margin-bottom: 15px;
    border: 4px;
    border-color: black;
    border-style: solid;
    font-size: 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 10px;
}

h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.containerLogin,
.containerRegistro,
.containerCarrito,
h1,
#logo {
    display: inline-block;
}


/* Background color Menu */

.color-2 {
    background: -webkit-linear-gradient(90deg, #91ECF5 10%, pink 90%);
    background: -moz-linear-gradient(90deg, #91ECF5 10%, pink 90%);
    background: -ms-linear-gradient(90deg, #91ECF5 10%, pink 90%);
    background: -o-linear-gradient(90deg, #91ECF5 10%, pink 90%);
    background: linear-gradient(90deg, #91ECF5 10%, pink 90%);
}

#cajaForm {
    background-color: #F0F8FF;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    flex: 0 1000px;
    text-align: left;
    font-weight: bolder;
    font-size: 12px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 13px;
}

form {
    flex: 0 1000px;
}

#sec_aside {
    background: -webkit-linear-gradient(90deg, #91ECF5 10%, pink 90%);
    background: -moz-linear-gradient(90deg, #91ECF5 10%, pink 90%);
    background: -ms-linear-gradient(90deg, #91ECF5 10%, pink 90%);
    background: -o-linear-gradient(90deg, #91ECF5 10%, pink 90%);
    background: linear-gradient(90deg, #91ECF5 10%, pink 90%);
}

#Abus {
    font-size: 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 20px;
    margin: auto;
    text-align: center;
}

footer {
    background-color: #11335a;
    color: grey;
    text-align: center;
    margin-top: 10px;
}

.fab {
    margin-top: 15px;
    color: white;
}

img {
    width: 100px;
    height: 100px;
}

#monederos {
    display: inline-block;
    width: 1000px;
    height: 1000px;
}

#carteras_varias {
    display: inline-block;
    width: 1000px;
    height: 1000px;
    left: 0;
    padding: 5;
}